section{
  padding: 20%;
  padding-top: 10%;
}

.fundo-cadastro{
  border: 1px solid #332E31;
  background-color: #332E31;
  color: white;
  margin: 2vh;
  padding: 3vh;
  border-radius: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-container label {
  display: block;
}


.input-small{
  width: 25%;
}

.input-normal{
  width: 50%;
}

button{
  margin-right: 2vh;
}

.msg-erro{
  color: #ff0000;
}

.msg-alerta{

  margin-left: 2vh;
  margin-right: 2vh;
}
.msg-alerta{

  margin-left: 2vh;
  margin-right: 2vh;
  display: flex;
  width: 25%;
  flex-direction: row;
  justify-content: space-between;
}

.msg-alerta:hover {
  box-shadow: 0 0px 8px rgba(255, 255, 255, 0.5);
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

.aviso{
  color: #ff0000;
}
