<section>
  <div class="alert alert-danger msg-alerta" role="alert" *ngIf="mostrarMsgCpfInvalido"><b>{{msgCpfInvalido}}</b></div>
  <div class="alert alert-danger msg-alerta" role="alert" *ngIf="mostararMsgCpfJaCadastrado"><b>{{msgCpfJaCadastrado}}</b></div>
  <div class="fundo-cadastro">
    <h2>Dados cadastrais</h2>
    <form [formGroup]="formulario">
      <div class="mb-3 input-container">
        <label class="form-label" for="nome">Nome:</label>
        <input
          placeholder=""
          class="form-control input-normal"
          type="text"
          id="nome"
          formControlName="nome"
        />
        <div class="msg-erro" *ngIf="formulario.get('nome')?.errors?.['required'] && formulario.get('nome')?.touched">Campo obrigatório!</div>
        <div class="msg-erro" *ngIf="formulario.get('nome')?.errors?.['minlength'] && formulario.get('nome')?.touched">O nome precisa ter pelo menos 3 letras</div>
        <div class="msg-erro" *ngIf="formulario.get('nome')?.errors?.['espacoEmBranco'] && formulario.get('nome')?.touched">O nome não pode estar vazio</div>
        <label class="form-label" for="cpf">CPF:</label>
        <input
          placeholder="444.555.666-77"
          class="form-control input-small"
          clas
          type="text"
          id="cpf"
          formControlName="cpf"

        />
        <div class="msg-erro" *ngIf="formulario.get('cpf')?.errors?.['required'] && formulario.get('cpf')?.touched">Campo obrigatório!</div>
        <div class="msg-erro" *ngIf="formulario.get('cpf')?.errors?.['pattern'] && formulario.get('cpf')?.touched">
          Digite o CPF da seguinte maneira: xxx.xxx.xxx-xx
        </div>
        <label class="form-label" for="telefone">Telefone:</label>
        <input
          placeholder="(11) 8888-9999"
          class="form-control input-small"
          type="tel"
          id="telefone"
          formControlName="telefone"


        />
        <div class="msg-erro" *ngIf="formulario.get('telefone')?.errors?.['required'] && formulario.get('telefone')?.touched">Campo obrigatório!</div>
        <div class="msg-erro" *ngIf="formulario.get('telefone')?.errors?.['pattern'] && formulario.get('telefone')?.touched">Digite o telefone no padrão (XX)XXXX-XXXX</div>
        <label class="form-label" for="rendimento">Rendimento mensal:</label>
        <input
          placeholder="R$ 1000.00"
          class="form-control input-small"
          type="text"
          id="rendimento"
          formControlName="rendimentoMensal"


        />
        <div class="msg-erro" *ngIf="formulario.get('rendimentoMensal')?.errors?.['required'] && formulario.get('rendimentoMensal')?.touched">Campo obrigatório!</div>
        <div class="msg-erro" *ngIf="formulario.get('rendimentoMensal')?.errors?.['pattern'] && formulario.get('rendimentoMensal')?.touched">Apenas números neste padrão: 1000.00</div>
        <div class="msg-erro" *ngIf="formulario.get('rendimentoMensal')?.errors?.['maxlength'] && formulario.get('rendimentoMensal')?.touched">Ultrapassou o limite, insira no máximo até o 9 bilhões</div>
      </div>

      <p>Endereço:</p>
      <div class="mb-3 input-container" formGroupName="endereco">
        <label class="form-label" for="logradouro">Logradouro:</label>
        <input
          placeholder=""
          class="form-control input-normal"
          type="text"
          id="logradouro"
          formControlName="logradouro"
        />
        <div class="msg-erro" *ngIf="formulario.get('endereco.logradouro')?.errors?.['required'] && formulario.get('endereco.logradouro')?.touched">Campo obrigatório!</div>
        <div class="msg-erro" *ngIf="formulario.get('endereco.logradouro')?.errors?.['espacoEmBranco'] && formulario.get('endereco.logradouro')?.touched">O nome não pode estar vazio</div>
        <label class="form-label" for="numero">Número:</label>
        <input
          placeholder=""
          class="form-control input-small"
          type="text"
          id="numero"
          formControlName="numero"
        />
        <div class="msg-erro" *ngIf="formulario.get('endereco.numero')?.errors?.['required'] && formulario.get('endereco.numero')?.touched">Campo obrigatório!</div>
        <div class="msg-erro" *ngIf="formulario.get('endereco.numero')?.touched &&  formulario.get('endereco.numero')?.errors?.['pattern'] ">Apenas números positivos e acima de 0</div>
        <div class="msg-erro" *ngIf="formulario.get('endereco.numero')?.errors?.['max'] && formulario.get('endereco.numero')?.touched ">Ultrapassou o limite, insira até 6 dígitos</div>

        <label class="form-label" for="cep">CEP:</label>
        <input
          placeholder="12345-678"
          class="form-control input-small"
          type="text"
          id="cep"
          formControlName="cep"


        />
        <div class="msg-erro" *ngIf="formulario.get('endereco.cep')?.errors?.['required'] && formulario.get('endereco.cep')?.touched">Campo obrigatório!</div>
        <div class="msg-erro" *ngIf="formulario.get('endereco.cep')?.errors?.['pattern'] && formulario.get('endereco.cep')?.touched">Digite o CEP no padrão: XXXXX-XXX</div>
      </div>
      <button class="btn btn-primary" type="submit" (click) ="registrarCliente()" [disabled]="!formulario.valid">Enviar</button>
      <a routerLink="/home" class="btn btn-primary">Cancelar</a>
    </form>
  </div>
</section>
