/* You can add global styles to this file, and also import other style files */


html, body {
  height: 100%;
  margin: 0;
  background-image: url('assets/imagens/soft_layers_by_manologgon_dftoa79.jpg');
  background-size: cover;

}
